@model findPet.Models.telaCadastroModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuario</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<style>
     #Nome{
                        background-color: lightyellow;  /* Altere a cor de fundo */
                        color: darkgreen;               /* Altere a cor do texto */
                        border: 2px solid #4CAF50; 
                    }
                    
    #Email{
                        background-color: lightyellow;  /* Altere a cor de fundo */
                        color: darkgreen;               /* Altere a cor do texto */
                        border: 2px solid #4CAF50; 
                    }
    #Senha{
                        background-color: lightyellow;  /* Altere a cor de fundo */
                        color: darkgreen;               /* Altere a cor do texto */
                        border: 2px solid #4CAF50; 
                    }
</style>
<main>
    @RenderBody()  <!-- Este conteúdo será substituído pelo conteúdo da sua view (Index.cshtml) -->
</main>
<body>
    
</body>