@model findPet.Models.telaCadastro2Model
@{
    Layout = "_CadastroLayout";  // Define o layout que você criou
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuario2</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">
        <h1>Cadastre-se2</h1>
        
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="success-message">@TempData["SuccessMessage"]</div>
        }

        <form asp-action="Create" asp-controller="telaCadastroModel" method="post">
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input type="text" id="Nome" name="Nome" value="@Model?.Nome" required />
            </div>
            
            <div class="form-group">
                <label for="Email">E-mail</label>
                <input type="text" id="Email" name="Email" value="@Model?.Email" required />
            </div>
            
            <div class="form-group">
                <label for="Senha">Senha</label>
                <input type="text" id="Senha" name="Senha" value="@Model?.Senha" required />
            </div>
            
            <div class="form-group">
                <label for="CPF">CPF</label>
                <input type="text" id="CPF" name="CPF" value="@Model?.CPF" required />
            </div>
            
            <div class="form-group">
                <label for="Telefone">Telefone</label>
                <input type="text" id="Telefone" name="Telefone" value="@Model?.Telefone" required />
            </div>

            <div class="form-group">
                <label for="DataNascimento">Data de Nascimento</label>
                <input type="date" id="DataNascimento" name="DataNascimento" value="@Model?.DataNascimento.ToString("yyyy-MM-dd") required />
            </div>
            
        </form>
        <form asp-action="Create" method="post">
           <!-- Campos do formulário -->
           <button type="submit">Proximo</button>
        </form>

    </div>
</body>
</html>
